main {
    background-color: slategray;
}

section {
    text-align: center;
}

.list {
    margin-left: auto;
    margin-right: auto;
    width: 8em
}

.legend {
    background-color: rgb(26, 208, 178);
}

.button {
    display: inline;
    width: 380px;
    background-color: rgb(26, 208, 178);
}